body {
  margin: 0;
  height: 100vh;
  background-color: #d4e6f1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  background-color: #5499c7;
  height: 300px;
  width: 300px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
h1 {
  margin-top: 15%;
  font-family: Arial, sans-serif;
  font-size: 1.5rem;
  color: #154360;
  text-transform: uppercase;
}
[data-time] {
  margin-top: 5%;
  width: 100px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #154360;
  border-radius: 15px;
  box-sizing: border-box;
  padding: 5px;
  background-color: #2c3e50;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
}
.buttons {
  margin-top: 10%;
}
button {
  border: none;
  background-color: transparent;
  color: #154360;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bolder;
  cursor: pointer;
  width: 50px;
  height: 50px;
}
[data-start]{
  background-image: url('./Icons/play.svg');
  background-size: 50px 50px;
  background-repeat: no-repeat;
}
[data-start]:hover{
  background-image: url('./Icons/play2.svg');
  background-size: 50px 50px;
  background-repeat: no-repeat;
}
[data-pause]{
  background-image: url('./Icons/pause.svg');
  background-size: 50px 50px;
  background-repeat: no-repeat;
}
[data-pause]:hover{
  background-image: url('./Icons/pause2.svg');
  background-size: 50px 50px;
  background-repeat: no-repeat;
}
[data-reset]{
  background-image: url('./Icons/reset.svg');
  background-size: 50px 50px;
  background-repeat: no-repeat;
}
[data-reset]:hover{
  background-image: url('./Icons/reset2.svg');
  background-size: 50px 50px;
  background-repeat: no-repeat;
}
